@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@font-face {
  font-family: "LexendTera";
  src: url("../../public/fonts/LexendTera.ttf") format("truetype");
}

@font-face {
  font-family: "Sansation_Light";
  src: url("../../public/fonts/Sansation_Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lekton-Regular";
  src: url("../../public/fonts/Lekton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lekton-Italic";
  src: url("../../public/fonts/Lekton-Italic.ttf") format("truetype");
}

.neon {
  color: #fff;
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #fff,
    0 0 0px #fff, 0 0 0px #fff;
}
.image-neon {
  filter: drop-shadow(0 0 5px #fff);
}

/* Style pour la barre de défilement */
.custom-navbar::-webkit-scrollbar {
  width: 10px; /* Largeur de la barre de défilement */
}
/* Style pour le fond de la barre de défilement */
.custom-navbar::-webkit-scrollbar-track {
  background: #f1f1f100; /* Couleur de fond */
}
/* Style pour la poignée de la barre de défilement */
.custom-navbar::-webkit-scrollbar-thumb {
  background: #ffffff; /* Couleur de la poignée */
}
/* Style pour la poignée de la barre de défilement lors du survol */
.custom-navbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Couleur de la poignée lors du survol */
}

.hoveredCard {
  transition: all 0.3s ease;
}
.hoveredCard:hover {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0px 15px 9.9px 8px rgba(0, 0, 0, 0.25);
}

/* initial={{ opacity: 1, scale: 1 }}
animate={{ opacity: 0, scale: 0.1 }} */

/* initial={{ opacity: 0, scale: 0.1 }}
animate={{ opacity: 1, scale: 1 }} */
